<h2>Order Summary - <%=@order_summary.order_date.strftime("%B %d, %Y")%></h2>
<%= render 'show_order_summary' %>
<%= render 'checkouts/show_checkout' %>
<p>Questions or comments about your order? Email us at we_dont_care@ascentwebstore.com! </p>