<h1>One man's Vision for the Future</h1>
<p>Having lost both his parents in a freak gasoline fight accident, <br>
   Ryan Bland was sent to live with his aunt and uncle in New York City.<br>
   It wasn't until his tenth birthday that he realized his potential. Ryan was visited
<br> by a large giant of a man who explained to him that his parents were Wizards and so was Ryan<br>
     Realizing that this was rubbish, Ryan entered buisness school. He graduated with honors and immediatly
<br> began work on a project close to his heart, the Ascent website you are traversing today.</p>
