<div class="range-slider" data-slider data-options="start: 1; end: 5;">
  <span class="range-slider-handle" role="slider" tabindex="0"></span>
  <span class="range-slider-active-segment"></span>
  <input type="hidden">
</div>
<script>
$('#slider').attr('data-slider');
  
</script>